html,body{
	height: 100%;
}

body{
	line-height: 1;
	font-family: 'DM Sans', sans-serif;
	background-color: #191919;
	color: rgba(255, 255, 255, 0.7);

	h1{
		color: #fff
	}
}
body.locked{
	overflow: hidden;
}
body img{
	user-select: none;
}

.wrapper{
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.page{
	flex: 1 1 auto;
}

[class*="__container"]{
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 10px;
}
@media (max-width: 1299.98px){
	[class*="__container"]{
		max-width: 970px;
		padding: 0 10px;
	}
}
@media (max-width: 991.98px){
	[class*="__container"]{
		max-width: 750px;
		padding: 0 10px;
	}
}
@media (max-width: 767.98px){
	[class*="__container"]{
		max-width: none;
		padding: 0 10px;	
	}
}


[class*="__button"]{
	background: #118DA8;
	color: #fff;
	border-radius: 6px;
	cursor: pointer;
	transition: 0.3s;
	border: none;
	user-select: none;
}
[class*="__button"]:hover{
	background-color: #0a6a80;
}

//* Переменные

$blueGreen: #118DA8;
$almostBlack: #191919;

//* ================== Navigation ===================

.navbar {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	&::before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $almostBlack;
		z-index: 3;
	}
	&__body {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100px;
		padding: 0 50px;
	}
	&__logo {
		font-weight: 700;
		font-size: 30px;
		color: #fff;
		z-index: 10;
		cursor: pointer;
		user-select: none;
	}
	&__burger {
		display: none;
	}
	&__list {
		display: flex;
		position: relative;
		z-index: 10;
	}
	&__link {
		margin-right: 20px;
		text-decoration: none;
		color: #fff;
		font-size: 17px;
		transition: 0.6s;
	}
	&__link:hover {
		color: $blueGreen
	}
}
@media (max-width: 1299.98px){
	.navbar__body{height: 80px;}
}
@media (max-width: 991.98px){
	.navbar__body{height: 60px;}
}
@media (max-width: 767.98px){
	.navbar {
		&__body{
			height: 40px;
			padding: 20px 20px;
		}
		&__logo{
			font-size: 25px;
		}
		
		//* Burger button
		&__burger {
			display: block;
			position: relative;
			width: 30px;
			height: 20px;
			right: 0;
			z-index: 10;
			cursor: pointer;
		}
		&__burger::before,
		&__burger::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #fff;
			transition: 0.6s;
		}
		&__burger::before {
			top: 0;
		}
		&__burger::after {
			bottom: 0;
		}
		&__burger-span {
			position: absolute;
			left: 0;
			top: 9px;
			width: 100%;
			height: 2px;
			background-color: #fff;
			transition: 0.6s;
		}
		&__burger.active .navbar__burger-span{
			transform: scale(0);
		}
		&__burger.active::before {
			transform: rotate(45deg);
			top: 9px;
		}
		&__burger.active::after {
			transform: rotate(-45deg);
			top: 9px;
		}

		&__menu {
			position: fixed;
			top: -111%;
			left: 0;
			width: 100%;
			height: 100%;
			background: #212121;
			padding: 90px 10px 20px 10px;
			text-align: center;
			transition: 0.6s;
		}
		&__menu.active{
			top: 0;
		}
		&__list {
			display: block;
		}
		&__link {
			display: block;
			margin: 20px 20px 30px 20px;
			font-size: 32px;
		}
	}

}
@media (max-width: 479.98px){
	.navbar__body{
		height: 20px;
		padding: 20px;
	}
}

//* ============== Main page ===================
.page{
	padding: 150px 0 0 0;
}

@media (max-width: 767.98px){
	.page{
		padding: 80px 0 0 0;
	}
}
//* ================ Page header =====================
.page-header {
	&__body{
		display: flex;
		align-items: center;

	}
	&__photo {
		max-width: 650px;
	}
	&__photo img{
		max-width: 100%;
		border-radius: 12px;
	}

	&__content {
		padding: 90px 0 0 60px;
	}

	&__text {
		font-size: 70px;
		
	}
	
	&__h1{
		transform: translate(300%, 0);
		opacity: 0;
		transition: 0.6s;
	}
	&__h1._active{
		transform: translate(0, 0);
		opacity: 1;
	}
	&__span1 {
		display: inline-block;
		font-size: 75px;
		transform: translate(400%, 0);
		opacity: 0;
		transition: 0.6s;
		transition-delay: 0.4s;
	}
	&__span1._active {
		transform: translate(0, 0);
		opacity: 1;
	}

	&__span2 {
		display: inline-block;
		font-size: 80px;
		font-weight: 700;
		transform: translate(400%, 0);
		opacity: 0;
		transition: 0.6s;
		transition-delay: 0.8s;
	}
	&__span2._active{
		transform: translate(0, 0);
		opacity: 1;
	}

	&__listen {
		padding: 22% 0 0 20px;
		font-size: 15px;
		color: #fff;
	}

	&__icons {
		display: flex;
	}
	&__icons a{
		max-width: 32px;
		margin-top: 16px;
		margin-right: 18px;
		transition: 0.6s;
		opacity: 0;
		transform: translate(600px,0);
	}
	&__icons a:hover{
		transform: scale(1.1);
	}
	&__icon{
		max-width: 100%;
	}
	&__icons a:nth-child(1){
		transition-delay: 0s;
	}
	&__icons a:nth-child(2){
		transition-delay: 0.2s;
	}
	&__icons a:nth-child(3){
		transition-delay: 0.4s;
	}
	&__icons a:nth-child(4){
		transition-delay: 0.6s;
	}
	&__icons a:nth-child(5){
		transition-delay: 0.8s;
	}
	&__icons a._active{
		transform: translate(0,0);
		opacity: 1;
	}
}
@media (max-width: 1299.98px){
	.page-header {
		&__content {
			padding: 10px 0 0 50px;
		}
		&__text {
			font-size: 60px;
		}
		&__span1 {
			font-size: 65px;
		}
		&__span2 {
			font-size: 70px;
		}	
		&__listen {
			padding: 16% 0 0 20px;
		}
	}
}
@media (max-width: 991.98px){
	.page-header {	
		&__content {
			padding: 20px 0 0 60px;
		}
		&__text {
			font-size: 50px;
		}
		&__span1 {
			font-size: 55px;
		}
		&__span2 {
			font-size: 60px;
		}
	}
}
@media (max-width: 767.98px){
	.page-header {
		&__body{

			display: flex;
			align-items: center;
			flex-direction: column;
			padding-top: 20px;
		}
		&__content {
			padding: 40px 0 0 20px;
			max-width: 650px;
		}
		&__text {
			font-size: 50px;
		}
		&__span1 {
			font-size: 60px;
		}
		&__span2 {
			font-size: 65px;
		}
		&__listen {
			padding: 40px 0 0 20px;
			font-size: 20px;
			color: #fff;
		}
		&__icons a{
			max-width: 32px;
			margin-top: 16px;
			margin-right: 18px;
			
		}
		&__icon{
			max-width: 100%;
		}
	}
}
@media (max-width: 479.98px){
	.page-header {
		&__body{

			padding-top: 20px;
		}
		&__content {
			padding: 40px 0 0 20px;
		}
		&__text {
			font-size: 48px;
		}
		&__span1 {
			font-size: 55px;
		}
		&__span2 {
			font-size: 60px;
			font-weight: 700;
		}
		&__listen {
			padding: 40px 0 0 20px;
			font-size: 20px;
			color: #fff;
		}
	}
}
@media (max-width: 349.98px){
	.page-header__text{
		font-size: 42px;
	}
}

//* ================ Latest episodes =====================
.latest-episodes {
	margin-top: 90px;

	&__titel {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.title__text{
			font-size: 64px;
			line-height: 79.2px;
			letter-spacing: 2.88 px;
			transition: 0.6s;
			opacity: 0;
			transform: translate(-200%, 0);
			transition-delay: 0.3s;
		}
		.title__text._active{
			opacity: 1;
			transform: translate(0, 0);
		}
		.title__button{
			width: 178px;
			height: 51px;
			font-size: 17px;
			transition: 0.6s;
			opacity: 0;
			transform: translate(200%, 0);
			transition-delay: 0.3s;
		}
		.title__button._active{
			opacity: 1;
			transform: translate(0, 0);
		}
	}

	&__item {
		margin-top: 60px;
		background: #000;
		padding: 40px;
		border-radius: 32px;
	}
}
.item {
	padding: 40px;
	opacity: 0;
	transform: translateY(50px);
	transition: 0.6s;
	&._active{
		opacity: 1;
		transform: translateY(0px);
	}

	&__body {
		display: flex;
	}

	&__pic {
		max-width: 390px;
	}
	&__pic img{
		max-width: 400px;
		max-height: 400px;
		border-radius: 6px;
		flex: 0 0 auto;
		object-fit: cover;
	}

	&__content {
		max-width: 770px;
		padding-left: 53px;
	}

	&__class {
			span{
				background-color: #191919;
				color: #fff;
				width: auto;
				padding: 3px 6px;
				line-height: 27px;
				font-size: 18px;
				text-align: center;
				border-radius: 6px;
			}
	}

	&__number {
		padding-top: 40px;
		font-size: 17px;
		color: $blueGreen;

		span{
			font-size: 18px;
		}
	}

	&__title {
		padding-top: 14px;
		font-size: 64px;
		line-height: 70.4px;
		letter-spacing: 2.56px;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__text {
		padding-top: 26px;
		font-size: 22px;
		line-height: 33px;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__button {
		margin-top: 16px;
		width: 208px;
		height: 51px;
		font-size: 18px;
	}
}

@media (max-width: 1299.98px){
	.item{
		&__title{
			font-size: 44px;
			line-height: 47px;
		}
		&__text {
			padding-top: 26px;
			font-size: 22px;
			line-height: 33px;
			display: -webkit-box;
			-webkit-line-clamp: 4;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		&__button {
			margin-top: 16px;
		}
	}
}
@media (max-width: 991.98px){
	.item{
		position: relative;
		&__pic {
			max-width: 390px;
			position: relative;
		}
		&__pic img{
			max-width: 100%;
			max-height: 100%;
			border-radius: 6px;
			flex: 0 0 auto;
		}
		&__content{
			padding-left: 30px;
		}
		&__title{
			font-size: 44px;
			line-height: 47px;
		}
		&__text {
			padding-top: 26px;
			font-size: 22px;
			line-height: 33px;
			display: -webkit-box;
			-webkit-line-clamp: 4;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		&__button {
			width: 240px;
			position: absolute;
			bottom: 50px;
			left: 45px;
		}
	}
}
@media (max-width: 767.98px){
	.latest-episodes{
		&__titel {
			flex-direction: column;
			.title__text{
				font-size: clamp(2.5rem, 1.429rem + 5.36vw, 4rem);
			}
			.title__button{
				width: clamp(12.5rem, 8.036rem + 22.32vw, 18.75rem);
				font-size: 20px;
			}
		}
		&__item {
			margin-top: 30px;
		}
	}

	.item {
		padding: clamp(0.938rem, 0.268rem + 3.35vw, 1.875rem);

		&__body {
			display: flex;
			flex-direction: column;
		}
	
		&__pic {
			max-width: none;
			max-height: none;
		}
		&__pic img{
			max-width: 100%;
			border-radius: 16px;
		}
	
		&__content {
			padding-top: 30px;
			max-width: 770px;
			padding-left: 5px;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	
		&__class {
			align-self: flex-start;
			span{
				font-size: 20px;
				padding: 4px 10px;
				border-radius: 8px;
			}
		}
	
		&__number {
			align-self: flex-start;			
			font-size: 20px;
			span{font-size: 22px;}
		}
	
		&__title {
			padding-top: 14px;
			font-size: clamp(2.375rem, 1.393rem + 4.91vw, 3.75rem);
			line-height: clamp(3.438rem, 2.768rem + 3.35vw, 4.375rem);
			letter-spacing: 2.56px;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	
		&__text {
			-webkit-line-clamp: 5;
		}
		&__button {
			position: static;
			width: clamp(12.5rem, 8.036rem + 22.32vw, 18.75rem);
			font-size: 20px;
			align-self: center;
			margin-top: 25px;
		}
	}
}

//* ================ About =====================
.about {
	margin-top: 260px;

	&__body {
		display: flex;
	}
	&__content {
		padding-right: 80px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__title {
		font-size: clamp(2.5rem, 1.99rem + 2.55vw, 4.063rem);
		line-height: 79px;
		transition: 0.6s 0.3s;
		opacity: 0;
		transform: translateX(-200%);
	}
	&__title._active{
		opacity: 1;
		transform: translateX(0);
	}

	&__text {
		font-size: 22px;
		line-height: 33px;
	}

	&__text p{
		padding-top: 20px;
		transition: 0.6s;
		opacity: 0;
		transform: translateX(-200%);
	}
	&__text p:nth-child(1){
		transition-delay: 0.5s;
	}
	&__text p:nth-child(2){
		transition-delay: 0.8s;
	}
	&__text p._active{
		opacity: 1;
		transform: translateX(0);
	}

	&__pic {
		max-width: 650px;
	}
	&__pic img{
		max-width: clamp(25rem, 2.444rem + 46.99vw, 40.625rem);
		border-radius: 12px;
		flex: 0 0 auto;
	}
}
.circle {

	&__body {
		position: relative;
		width: 110px;
		height: 110px;
		border-radius: 100px;
		background-color: $blueGreen;
		cursor: pointer;
		transition: 0.6s;
		opacity: 0;
		transform: scale(0);
		transform-origin: left center;
		transition-delay: 1.5s;
	}
	&__body._active{
		opacity: 1;
		transform: scale(1);
	}
	&__body:hover{
		transform: scale(1.05);
	}

	&__arrow {
		position: absolute;
		top: 54px;
		left: 18px;
		width: 70px;
		height: 2px;
		background-color: #fff;
	}
	&__arrow::before,
	&__arrow::after{
		content: '';
		position: absolute;
		width: 30px;
		height: 2px;
		background-color: #fff;
	}
	&__arrow::before{
		top: 10px;
		left: 44px;
		transform: rotate(-45deg);
	}
	&__arrow::after{
		bottom: 10px;
		left: 44px;
		transform: rotate(45deg);
	}
	&__label {
		font-size: 18px;
		line-height: 27px;
		color: $blueGreen;
		transition: 0.6s;
		opacity: 0;
		transform: translateY(-50px);
		transition-delay: 2s;
	}
	&__label._active{
		opacity: 1;
		transform: translateY(0);
	}
}

@media (max-width: 992px) and (min-width:768px){
	.about{
		position: relative;

		&__pic img{
			max-width: 400px;
		}
	}

	.circle{
		position: absolute;
		top: 270px;
		left: 33%;

		&__body{
			width: 90px;
			height: 90px;
		}
		&__arrow {
			top: 44px;
			left: 18px;
			width: 55px;
		}
		&__arrow::before,
		&__arrow::after{
			width: 25px;
		}
		&__arrow::before{
			top: 9px;
			left: 33px;
		}
		&__arrow::after{
			bottom: 9px;
			left: 33px;
		}
		&__label {
			display: none;
		}
	}
}
@media (max-width: 767.98px){
	.about{
		margin-top: 150px;

		&__body {
			flex-direction: column-reverse;
		}
		&__content {
			padding-right: 20px;
		}
		&__title {
			line-height: 60px;
		}
		&__text p{
			padding-top: 15px;
		}
		&__pic {
			max-width: none;
			margin: 0 auto;
		}
		&__pic img{
			max-width: 100%;
			border-radius: 12px;
			flex: 0 0 auto;
		}
	}
	.circle{
		margin: 20px 0px 0px 20px;
		&__body {
			position: relative;
			width: 90px;
			height: 90px;
		}
		&__arrow {
			top: 44px;
			left: 18px;
			width: 55px;
		}
		&__arrow::before,
		&__arrow::after{
			width: 25px;
		}
		&__arrow::before{
			top: 9px;
			left: 33px;
		}
		&__arrow::after{
			bottom: 9px;
			left: 33px;
		}
	}
}

//* ================ Subscribe =====================
.subscribe {
	margin-top: 200px;

	&__body {
		display: flex;
		background: #000;
		padding: 60px;
		border-radius: 32px;
		max-height: 390px;
	}
	&__content {
		width: 50%;
		display: flex;
		flex-direction: column;
		padding-right: clamp(3.125rem, -6491.875rem + 8000vw, 8.125rem);
	}
	&__subtitle {
		font-size: 18px;
		line-height: 27px;
		color: $blueGreen;
		transition: 0.6s 0.6s;
		opacity: 0;
		transform: translate(-200%,0);
	}
	&__subtitle._active{
		opacity: 1;
		transform: translate(0,0);
	}
	&__title {
		font-size: clamp(3.75rem, -970.5rem + 1200vw, 4.5rem);
		line-height: 79px;
		letter-spacing: 2.88px;
		transition: 0.6s 0.3s;
		opacity: 0;
		transform: translate(-200%,0);
	}
	&__title._active{
		opacity: 1;
		transform: translate(0,0);
	}
	&__form {
		width: 50%;
		display: flex;
		flex-direction: column;
	}
	&__name,
	&__email {
		height: clamp(4.688rem, -563.625rem + 700vw, 5.125rem);
		padding: 26px 19px;
		margin-bottom: 20px;
		border-radius: 6px;
		background-color: $almostBlack;
		color: #fff;
		font-size: 24px;
		line-height: 29px;
		box-sizing: border-box;
		border: none;
		transition: 0.6s;
		opacity: 0;
		transform: translateX(100%);
	}
	&__name{
		transition-delay: 0.3s;
	}
	&__email{
		transition-delay: 0.6s;
	}
	&__name._active,
	&__email._active{
		opacity: 1;
		transform: translateX(0);
	}
	&__name::placeholder,
	&__email::placeholder{
		color: rgba(255, 255, 255, 0.7);
	}
	&__button {
		width: 90px;
		height: 50px;
		font-size: 15px;
		transition: 0.6s 0.9s;
		opacity: 0;
		transform: translateX(200%);
	}
	&__button._active{
		opacity: 1;
		transform: translateX(0);
	}
}

@media (max-width: 992px){
	.subscribe {
		margin-top: 100px;
	
		&__body {
			flex-direction: column;
			padding: clamp(1.25rem, 0.655rem + 2.98vw, 2.5rem);
		}
		&__content{
			width: 100%;
		}
		&__title {
			font-size: clamp(2.5rem, 1.99rem + 2.55vw, 4.063rem);
			line-height: clamp(3.063rem, 2.467rem + 2.98vw, 4.313rem);
			padding-bottom: 20px;
		}
		&__form{
			width: 100%;
		}
		&__button {
			align-self: center;
			width: 40%;
			font-size: 22px;
		}
	}
}
@media (max-width: 480px){
	.subscribe{
		&__name,
		&__email {
			height: clamp(3.438rem, 1.063rem + 10vw, 4.063rem);
			padding: 20px 19px;
			font-size: clamp(1.375rem, 0.9rem + 2vw, 1.5rem);
			line-height: 29px;
			box-sizing: border-box;
			border: none;
		}
		&__button{width: 100%;}
	}
}

//* ================ Reviews =====================
.reviews {
	margin-top: 200px;

	&__cells {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	&__cell {
		background: #000;
		padding: 50px;
		border-radius: 32px;
		margin: 8px;
		transition: 0.6s;
		opacity: 0;
	}
	&__cell:nth-child(1){
		transform: translateX(-100%);
		transition-delay: 0.6s;
	}
	&__cell:nth-child(2){
		transform: translateX(-100%);
		transition-delay: 0.3s;
	}
	&__cell:nth-child(3){
		transform: translateX(-100%);
		transition-delay: 0s;
	}
	&__cell:nth-child(4){
		transform: translateX(100%);
		transition-delay: 0s;
	}
	&__cell:nth-child(5){
		transform: translateX(100%);
		transition-delay: 0.3s;
	}
	&__cell:nth-child(6){
		transform: translateX(100%);
		transition-delay: 0.6s;
	}
	&__cell._active{
		opacity: 1;
		transform: translateX(0);
	}
}
.cell {
	&__text {
		padding-top: 20px;
		font-size: 36px;
		line-height: 43px;
		color: #fff;
	}
	&__author {
		padding-top: 20px;
		font-size: 24px;
		line-height: 29px;
		color: rgba(255, 255, 255, 0.7);
	}
}

.rating {
	display: flex;
	justify-content: space-between;
	font-size: 30px;
	line-height: 0.75;

	&__body {
		position: relative;
	}
	&__body::before {
		content: '★★★★★';
		display: block;
		color: rgba(255, 255, 255, 0.7);
	}

	&__active {
		position: absolute;
		width: 0%;
		height: 100%;
		top: 0;
		left: 0;
		overflow: hidden;
	}
	&__active::before{
		content: '★★★★★';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		color: #FCFF51;
	}

	&__items {
		display: flex;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	&__item{
		flex: 0 0 20%;
		height: 100%;
		opacity: 0;
		margin: 0;
	}
	&__value{
		font-size: 60%;
		line-height: 1;
	}
}

@media(max-width: 991.98px){
	.reviews{

		&__cells{
			grid-template-columns: repeat(2, 1fr);
		}
		&__cell {
			transition: 0.6s;
			opacity: 0;
		}
		&__cell:nth-child(1){
			transform: translateX(-100%);
			transition-delay: 0.6s;
		}
		&__cell:nth-child(2){
			transform: translateX(-100%);
			transition-delay: 0.3s;
		}
		&__cell:nth-child(3){
			transform: translateX(100%);
			transition-delay: 0.3s;
		}
		&__cell:nth-child(4){
			transform: translateX(100%);
			transition-delay: 0.6s;
		}
		&__cell:nth-child(5){
			transform: translateX(-100%);
			transition-delay: 0.6s;
		}
		&__cell:nth-child(6){
			transform: translateX(-100%);
			transition-delay: 0.3s;
		}
		&__cell._active{
			opacity: 1;
			transform: translateX(0);
		}
	}
}
@media(max-width: 767.98px){
	.reviews{margin-top: 100px;}
}
@media(max-width: 700px){
	.reviews{

		&__cells{
			grid-template-columns: repeat(1, 1fr);
		}
		&__cell{
			margin: 8px 0;
			padding: 40px;
			transition: 0.6s;
			opacity: 0;
		}
		&__cell:nth-child(1){
			transform: translateX(-100%);
			transition-delay: 0.3s;
		}
		&__cell:nth-child(2){
			transform: translateX(100%);
			transition-delay: 0.3s;
		}
		&__cell:nth-child(3){
			transform: translateX(-100%);
			transition-delay: 0.3s;
		}
		&__cell:nth-child(4){
			transform: translateX(100%);
			transition-delay: 0.3s;
		}
		&__cell:nth-child(5){
			transform: translateX(-100%);
			transition-delay: 0.3s;
		}
		&__cell:nth-child(6){
			transform: translateX(100%);
			transition-delay: 0.3s;
		}
		&__cell._active{
			opacity: 1;
			transform: translateX(0);
		}
	}
}

//* ================ Footer =====================
.footer {
	margin-top: 150px;
	padding: 50px;

	&__body {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	&__logo {
		cursor: pointer;
		font-size: 50px;
		color: #fff;
		font-weight: 700;
		padding-bottom: 30px;
	}
	&__socials img{
		width: 20px;
		margin-right: 12px;
		transition: 0.6s;
	}
	&__socials img:hover{
		transform: scale(1.1);
	}

	&__text {
		display: flex;
		justify-content: space-around;
	}
	&__navigation-link,
	&__info-link {
		display: block;
		text-decoration: none;
		color: #fff;
		font-weight: 400;
		font-size: 17px;
		line-height: 27px;
		transition: 0.6s;
	}
	&__navigation-link:hover,
	&__info-link:hover{
		color: $blueGreen;
		transform: scale(1.05);
	}

	&__icons {
		display: flex;
		justify-content: flex-end;
	}
	&__icons a{
		max-width: 32px;
		margin-top: 16px;
		margin-right: 18px;
		transition: 0.6s;
	}
	&__icons a:hover{
		transform: scale(1.1);
	}
	&__icon {
		max-width: 100%;
	}
}

@media(max-width: 991.98px){
	.footer{
		&__body {
			grid-template-columns: none;
			grid-template-areas: 
			"media text"
			"icons icons";
		}
		&__media {
			grid-area: media;
		}
		&__text {
			grid-area: text;
		}
		&__icons {
			grid-area: icons;
			justify-content: flex-start;
		}
	}
}
@media(max-width: 767.98px){
	.footer{
		&__body {
			grid-template-areas: 
			"media media"
			" icons text";
		}
		&__media {
			grid-area: media;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&__text {
			grid-area: text;
		}
		&__navigation-link{
			display: none;
		}
		&__icons {
			padding-top: 20px;
			grid-area: icons;
			justify-content: center;
		}
	}
}
@media(max-width: 550px){
	.footer{
		padding: 20px;

		&__body {
			grid-template-areas: 
			"media"
			"text"
			"icons";
		}
		&__media {
			grid-area: media;
			flex-direction: column;
		}
		&__text {
			padding-top: 20px;
			grid-area: text;
			flex-direction: column;
			text-align: center;
		}
		&__info-list{
			column-count: 2;
		}
		&__info-link {
			font-size: 22px;
			line-height: 35px;
			margin: 10px 0;
	}
		&__icons {
			padding-top: 20px;
			grid-area: icons;
			justify-content: center;
		}
	}
}
